<%- include('../../partials/header.ejs'); %>
<body>
    <%- include('../../partials/navbar.ejs'); %>
    <div class="container">
        <br>
        <div class="card"> 
            <div class="card-header">          
                <h2>Nova Categoria</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/categories/save">
                    <input type="text" class="form-control" name="title" placeholder="Digite o nome da nova categoria"><br>      
                    <button class="btn btn-success">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    
</body>
<%- include('../../partials/footer.ejs'); %>