<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto navbar-expand-xs">
            <li class="nav-item">
                <a  class="nav-link" href="/"> <img src="imgs/logoTrilhos.png" class="img-fluid imagemLogo" alt="Responsive image" > &nbsp;</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="/blog"> Blog &nbsp;</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="/admin/categories"> Categorias &nbsp;</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="/admin/articles"> Artigos &nbsp;</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="/admin/users"> Usuarios &nbsp;</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a  class="nav-link" href="/logut">Logout</a>
            </li>
        </ul>
    </div>
</nav>