<%- include('partials/header.ejs'); %>
<body>
    <%- include('partials/navbar.ejs'); %>
    <div class="container">
        <br>
        <h2>Admin</h2>
        <hr>
        <a class="btn btn-success col-sm-12" href="/admin/articles">Artigos</a><br><br>
        <a class="btn btn-success col-sm-12" href="/admin/categories">Categorias</a><br><br>
        <a class="btn btn-success col-sm-12" href="/admin/users">Usuarios</a>
        <hr>        
    </div>
</body>

<%- include('partials/footer.ejs'); %>