<h1 style="color: #EE6E49;">Blog</h1>
<div id="linha-blog"></div>
<br><br>
<div class="row">
    <% articles.forEach(article => { %>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= article.title %></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="<%= article.slug %>" class="btn btn-primary">Ler Artigo</a>
            </div>
        </div>
        <br>
    <% }) %>
    
</div>
<a href="/blog" >Ir para Blog</a>