<h1 style="color: #6FBAD5;  margin-top: 100px;">FAQ</h1>
<div id="linhaFaq"></div>
<br><br>
<div id="accordion3">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                    aria-controls="collapseOne">
                    <h4>O rato roeu a roupa do rei de Roma?</h4>
                </a>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion3">
            <div class="card-body">
                    <p>Por ﬁm, assegurar padrões de produção e de consumo sustentáveis é a ideia que gerou o
                        projeto e que nos gere até hoje. Dar às cooperativas a capacidade de emitir suas notas
                        ﬁscais é dar melhor controle sobre os resíduos gerados pelas empresas. Nossa ideia de
                        logística reversa recebeu o prêmio na categoria ODS 12 no Evento Nacional Enactus Brasil
                        (ENEB) e foi ﬁnalista do edital Ética e Integridade da KPMG</p>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    <h4>Qual o sentido da vida?</h4>
                </a>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion3">
            <div class="card-body">
                    <p>Por ﬁm, assegurar padrões de produção e de consumo sustentáveis é a ideia que gerou o
                        projeto e que nos gere até hoje. Dar às cooperativas a capacidade de emitir suas notas
                        ﬁscais é dar melhor controle sobre os resíduos gerados pelas empresas. Nossa ideia de
                        logística reversa recebeu o prêmio na categoria ODS 12 no Evento Nacional Enactus Brasil
                        (ENEB) e foi ﬁnalista do edital Ética e Integridade da KPMG
                    </p>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    <h4>O Bolsonaro eh um reptiliano?</h4>
                </a>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion3">
            <div class="card-body">
                    <p>Por ﬁm, assegurar padrões de produção e de consumo sustentáveis é a ideia que gerou o
                        projeto e que nos gere até hoje. Dar às cooperativas a capacidade de emitir suas notas
                        ﬁscais é dar melhor controle sobre os resíduos gerados pelas empresas. Nossa ideia de
                        logística reversa recebeu o prêmio na categoria ODS 12 no Evento Nacional Enactus Brasil
                        (ENEB) e foi ﬁnalista do edital Ética e Integridade da KPMG</p>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                    aria-expanded="false" aria-controls="collapseThree">
                    <h4>Quem veio primeiro o ovo ou a galinha?</h4>
                </a>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion3">
            <div class="card-body">
                    <p>Por ﬁm, assegurar padrões de produção e de consumo sustentáveis é a ideia que gerou o
                        projeto e que nos gere até hoje. Dar às cooperativas a capacidade de emitir suas notas
                        ﬁscais é dar melhor controle sobre os resíduos gerados pelas empresas. Nossa ideia de
                        logística reversa recebeu o prêmio na categoria ODS 12 no Evento Nacional Enactus Brasil
                        (ENEB) e foi ﬁnalista do edital Ética e Integridade da KPMG</p>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                    aria-expanded="false" aria-controls="collapseThree">
                    <h4>Ser ou nao ser? Eis a questao.</h4>
                </a>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordion3">
            <div class="card-body">
                    <p>Por ﬁm, assegurar padrões de produção e de consumo sustentáveis é a ideia que gerou o
                        projeto e que nos gere até hoje. Dar às cooperativas a capacidade de emitir suas notas
                        ﬁscais é dar melhor controle sobre os resíduos gerados pelas empresas. Nossa ideia de
                        logística reversa recebeu o prêmio na categoria ODS 12 no Evento Nacional Enactus Brasil
                        (ENEB) e foi ﬁnalista do edital Ética e Integridade da KPMG</p>
            </div>
        </div>
    </div>
</div>