<h1 style="color: #FFE45B;  margin-top: 100px;">Trilhos nas Midias</h1>
<div id="linhaMidia"></div>

<div class="row">
    <div class="col-12">
        <br>
        <br>
        <div id="accordion2">
            <div class="card">
                <div class="card-header" id="heading1">
                    <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true"
                            aria-controls="collapse1">
                            <h4>Rede Record</h4>                            
                        </a>
                    </h5>
                </div>

                <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion2">
                    <div class="card-body">
                        <div class="row">
                            <div class="divisao">
                                <p>Reportagem feita para a Recor sobre premiacao Sicredi Jovens Emprendedores. 
                                    Nos demos uma entrevista em uma das agencias da Sicredi. Foi uma dia muito especial, pois 
                                    alem de nos tambem estavao presente o projeto X e o projeto Ubiraci, tambem da Enactus Unesp Bauru.
                                </p>
                            </div>
                            <div class="divisao">
                                <iframe src="https://www.youtube.com/embed/6_QNGiONuCA" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen height="300px;" width="100%"></iframe>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="heading2">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2"
                            aria-expanded="false" aria-controls="collapse2">
                            <h4>Item 2</h4>
                        </a>
                    </h5>
                </div>
                <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion2">
                    <div class="card-body">
                        <p>Reportagem feita para a Record</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="heading3">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3"
                            aria-expanded="false" aria-controls="collapse3">
                            <h4>Item 3</h4>
                        </a>
                    </h5>
                </div>
                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion2">
                    <div class="card-body">
                        <p>Reportagem feita para a Record</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>