
<h1 style="color: #FFE45B; margin-top: 100px;">Sobre</h1>
<div id="linhaSobre"></div>
<h3 style="color: #FDC81A;">Como Nasceu o Trilhos?</h3>
<br>
<div class="row">
    <div class="divisao">
        <p id="textoSobre">A história do projeto começa em 2018 com o interesse da empresa Tilibra em aumentar o potencial de reciclagem dos seus produtos. Sendo parceira da Enactus Brasil e com a sede da sua produção na cidade de Bauru (SP), a Tilibra então veio até a Enactus Unesp Bauru para propor o início de um projeto com viés ambiental e social, ou seja, que pudesse ser vantajoso tanto para a empresa quanto para as cooperativas de reciclagem, até então negligenciadas no processo da coleta seletiva. Foram visitadas ao todo 3 cooperativas e a COOPECO se mostrou a mais interessada e também preparada para atuar em conjunto conosco. Então, nasce o Trilhos, inicialmente como uma ponte entre os interesses da Tilibra e as necessidades da cooperativa COOPECO, tendo como produto principal os plásticos ﬁnos produzidos pela empresa (o PEBD).</p>
        <p id="textoSobre">Em 2019, mais amadurecido e experiente, o Trilhos expande ainda mais sua visão e passa a ter como objetivo atender a Política Nacional dos Resíduos Sólidos, criando soluções de logística reversa para empresas e conectando-as diretamente às cooperativas: as empresas, como a Tilibra, conseguem comprovar que estão obedecendo à PNRS, ao mesmo tempo que as cooperativas se tornam autônomas e valorizadas no processo, pois passam elas próprias a emitirem as notas ﬁscais. De lá pra cá, nossa ideia já foi reconhecida por várias instituições parceiras como a KPMG, Sicredi e a BYES. Nós, do Trilhos, mantemos até hoje nosso trabalho porque acreditamos em cidades melhores e mais sustentáveis, em condições de trabalho justas e na valorização daqueles que realmente merecem ter sua atuação reconhecida.</p>
    </div>
    <div class="divisao">
        <iframe width="100%" height="400px" src="https://www.youtube.com/embed/85OdYafOblg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<h2 style="color: #FFE45B; margin-top: 100px;">Conheca mais</h2>
<div id="linhaSobre"></div>
<h4 style="color: #FDC81A;">pitch, mvp e prototipo</h4>
<br>
<div class="row" id="mais">
    <div class="divisao">            
        <iframe width="100%" height="400" src="https://www.youtube.com/embed/_xX5lrWyDag" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="divisao">
        <a class="btn btn-success btn-block" href="../../docs/mvp.pdf" target="_blank">Conheca nosso MVP</a> 
        <a class="btn btn-success btn-block" href="../../docs/prototipo.pdf" target="_blank">Conheca nosso Prototipo</a>  
    </div>
</div>